@import '../../../../app.scss';

.funds__wrapper {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  .funds__label {
    font-size: 32px;
    font-weight: bold;
    color: $BlackS;
  }
  .item__container {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $White;
    .fund_info {
      @include flex-col();
      .fund_name {
        font-size: 28px;
        color: $BlackS;
      }
      .fund_code {
        font-size: 24px;
        color: $BlackM;
      }
    }
    .fund_user_rate {
      font-size: 24px;
      color: $BlackS;
    }
  }
  @mixin itemRightButton {
    @include flex-row();
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    font-size: 24px;
    color: $White;
  }
  .item_right__buttons {
    @include flex-row();
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .item_unfollow__button {
    @include itemRightButton();
    width: 100px;
    background-color: #ee0a24;
  }
  .item_update_rate__button {
    @include itemRightButton();
    width: 120px;
    background-color: $Secondary;
  }
}
