@import '../../app.scss';

.inputWrapper {
  display: flex;
  align-items: center;
  margin: 0 28px;
  padding: 30px 0;
  background: $White;
  :global {
    input {
      font-size: 28px;
      color: $BlackS;
    }
    .van-cell {
      padding: 0 20px;
    }
  }
}

.input {
  flex: 1;
}

.border {
  border-bottom: 1px solid $Divider;
}

.label {
  margin-right: 20px;
  width: 130px;
  font-size: 28px;
  color: $BlackS;
  @include multi-line-ellipsis(10);
}
